.calendar-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-container .wrapper {
    width: 235px;
    border: 1px solid #E3DCB2;
    border-radius: 5px;
    padding: 5px;
    height: 50px;
    display: flex;
    align-items: center;
}

.calendar-open-btn--double, .date-input-field {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.cross {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: -10;
}

.day, .month {
    width: 30px;
}

.placeholder {
    padding-bottom: 2px;
}

.year, .day, .month {
    text-align: center;
    color: #7a7a7a;
    font: 400 18px ZabraProTest3-Regular, sans-serif;
    margin: 0 3px;
}

.year {
    width: 40px;
}

.calendar-wrapper {
    z-index: 60;
    position: absolute;
    top: 80px;
    right: 0;
    border: 1px solid #d3c68c;
    border-bottom: none;
}

.calendar-container .row {
    display: flex;
}

.calendar {
    color: #665800;
    font-size: 18px;
    background-color: var(--clr-semi-white);
    width: 340px;
}

.calendar + .calendar {
    border-left: 1px solid #d3c68c;
}

.calendar select {
    color: inherit;
}

.calendar .icon {
    cursor: pointer;
}

.calendar__year {
}

.calendar__year, .calendar__month {
    padding-block: 5px;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar__weekdays, .calendar__days {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
}

.calendar__year, .calendar__month, .calendar__weekdays {
    border-bottom: 1px solid #d3c68c;
}

.calendar__weekdays > *, .calendar__days > * {
    display: grid;
    place-content: center;
    padding-block: 5px;
}

.calendar__days > * {
    border-right: 1px solid #d3c68c;
    border-bottom: 1px solid #d3c68c;
}

.calendar__days > *:nth-child(7n) {
    border-right: none;
}

.calendar__days > .available {
    background-color: var(--clr-light);
    cursor: pointer;
    transition: .3s;
}

.calendar__days > .selected {
    background-color: var(--clr-yellow);
}

@media (hover: hover) {
    .calendar__days > .available:hover {
        background-color: #cfcfcf;
    }
    .calendar__days > .selected:hover {
        background-color: var(--clr-yellow);
    }
}

.calendar__submit-btn {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding-block: 5px;
    background-color: red;
    color: #fff !important;
}