@font-face {
    font-family: 'ZabraProTest3';
    src: local('ZabraProTest3 Regular'), local('ZabraProTest3-Regular'),
    url(../fonts/ZabraProTest3-Regular.woff) format('woff'),
    url(../fonts/ZabraProTest3-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'ZabraProTest3';
    src: local('ZabraProTest3 Medium'), local('ZabraProTest3-Medium'),
    url(../fonts/ZabraProTest3-Medium.woff) format('woff'),
    url(../fonts/ZabraProTest3-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

/* style general
-----------------*/
*, :before, :after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    color: #2c2c2c;
    line-height: 1.5;
    background: #fbf7da;
    font: 400 21px "ZabraProTest3", "Arial", sans-serif;
}

body.fix {
    overflow: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    background: transparent;
    cursor: pointer;
}

input[type="radio"], input[type="checkbox"], input[type="file"] {
    display: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

mark {
    background: transparent;
}

:root {
    --content-size: calc(50% - 725px);
    --normal: .3s ease;
    --red:  #ff0000;
}

.bg-img {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

/* style header
-----------------*/
.header {
    width: 100%;
    background-color: #ffdd00;
}

.header-top {
    height: 60px;
    border-bottom: 1px solid #ffe53b;
}

.header-bottom {
    height: 55px;
}

/* style main
-----------------*/
.content {
    width: 100%;
    padding: 30px var(--content-size) 65px;
    border-radius: 0 25px 25px 0;
    overflow: hidden;
}

.content-wrapper {
    width: 100%;
    background: #fffef4;
    padding: 50px 30px 50px 25px;
}

.title-h2 {
    padding-left: 25px;
    font: 400 33px sans-serif;
    color: #534a10;
}

.content-text {
    margin-bottom: 25px;
}

.content-text, .content-text > a {
    font: 300 21px sans-serif;
    color: #665800;
}

.content-text > a {
    color: #edb607;
    padding-bottom: 3px;
    border-bottom: 1px dotted #edb607;
    transition: var(--normal);
}

.content-text > a:hover {
    color: #dba905;
    border-color: #dba905;
}

.wallet-info > div {
    width: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.wallet-info > div:last-child {
    margin: 0;
}

.wallet-info svg {
    width: 24px;
    height: 24px;
    fill: #665800;
    margin-right: 15px;
}

.wallet-info-box svg {
    fill: var(--red);
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.wallet-info-box__value {
    color: var(--red);
}

.wallet-info-box {
    font-size: 21px;
    margin-right: 60px;
    flex-wrap: wrap;
}

.wallet-info__link {
    border-bottom: 1px dotted var(--red);
    color: var(--red);
    font-size: 21px;
    transition: var(--normal);
}

.wallet-info__link:hover {
    color: rgb(158, 3, 3);
}

.wallet-info-text, .wallet-info-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.wallet-info-text p {
    font-size: 21px;
    color: #2c2c2c;
}

.wallet-info-text a {
    color: #8cae59;
    border-bottom: 1px dotted #8cae59;
}

.content__title {
    font-size: 23px;
    color: #534a10;
    margin-bottom: 25px;
}

.giper_link {
    border-bottom: 1px dotted var(--red);
    color: var(--red);
    font-size: 20px;
    transition: .3s;
}

.giper_link:hover {
    color: rgb(158, 3, 3);
}

/*style breadcrumbs start*/
.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 12px 0 30px;
    padding-left: 25px;
}

.breadcrumbs__link {
    font: 400 23px sans-serif;
    color: #534a10;
    transition: var(--normal);
}
/*style breadcrumbs end*/

/*style panel-nav start*/
.panel-nav {
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    margin-bottom: 30px;
}

.panel-nav__item {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #e4ddb4;
}

.panel-nav__item.current {
    box-shadow: 0 3px 15px 15px #fffad0;
}

.panel-nav__item:last-child {
    margin-bottom: 0;
}

.panel-nav__item:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -100px;
    left: 0;
    z-index: 0;
    border-radius: 0 50% 50% 50%;
}

.panel-nav__item:hover:before {
    animation: bg-hover 1s alternate forwards;
}

@keyframes bg-hover {
    from {
        width: 0;
        height: 0;
    }

    to {
        width: calc(100% + 200px);
        height: calc(100% + 300px);
    }
}

.panel-nav__title {
    font: 600 21px sans-serif;
    margin-bottom: 10px;
    line-height: 32px;
}

.panel-nav__title, .panel-nav__text {
    position: relative;
    z-index: 5;
    transition: 1s;
}

.panel-nav__item:hover .panel-nav__title, .panel-nav__item:hover .panel-nav__text {
    color: #fff !important;
}

.panel-nav__text {
    font: 300 18px sans-serif;
    color: #665800;
    line-height: 24px;
}

.panel-nav__item:nth-child(1) .panel-nav__title {
    color: #ff9900;
}

.panel-nav__item:nth-child(1):before {
    background-color: #ff9900;
}

.panel-nav__item:nth-child(2) .panel-nav__title {
    color: #ff3366;
}

.panel-nav__item:nth-child(2):before {
    background-color: #ff3366;
}

.panel-nav__item:nth-child(3) .panel-nav__title {
    color: #33cccc;
}

.panel-nav__item:nth-child(3):before {
    background-color: #33cccc;
}
/*style panel-nav end*/


/*style deposit start*/
.deposit {
    width: 100%;
    margin: 20px 0 0;
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 10px rgba(17, 33, 60, 0.2);
}

.deposit-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.deposit__title, .code-word__title, .operation-history__title {
    font: 500 23px sans-serif;
    color: #665800;
    margin-bottom: 15px;
}

.wallet_input {
    width: 205px;
    height: 50px;
    padding: 3px 5px 3px 10px;
    border: 1px solid #e4ddb4;
    margin-right: 15px;
    outline: none;
    font: 500 23px sans-serif;
    color: #534a10;
}

.deposit-form__input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.deposit-form__input-text {
    font-size: 23px;
    color: #534a10;
}

.btn-radio__desc {
    color: #665800;
    margin-left: 20px;
    font-size: 21px;
}

.enter-link-wrap {
    border: 1px solid #e4ddb4;
    padding: 17px 18px;
    padding-top: 6px;
    margin-top: 10px;
}

.enter-link {
    color: var(--red);
    border-bottom: 1px solid var(--red);
    transition: var(--normal);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}

.enter-link:hover {
    color: rgb(158, 3, 3);
    border-color: rgb(158, 3, 3);
}

.btn-radio {
    margin-bottom: 20px;
}

.deposit-form__button {
    font-size: 21px;
    color: #fff;
    padding: 10px 27px 15px;
    background: #ffdd00;
    border-radius: 5px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    transition: 0.5s;
}

.deposit-form__button:disabled, .deposit-form__button:disabled:hover {
    background: #ffec6c;
    cursor: auto;
}

.deposit-form__button:hover {
    background-color: #ff3a00;
}

.wallet-radio-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
    transition: var(--normal);
}

.hide {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: -10;
}

.wallet-radio-bottom__title {
    color: #665800;
    margin-bottom: 20px;
    font: bold 18px sans-serif;
}

.btn-radio__desc svg {
    width: 24px;
    height: 24px;
}

/*style deposit end*/

/*style cookie start*/
.cookie {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    background-color: rgba(44, 44, 44, 0.8);
    color: #fff;
    text-align: center;
    display: block;
    box-sizing: border-box;
}

.cookie__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 15px var(--content-size);
    width: 100%;
}

.cookie__wrapper p {
    color: #fff;
    font-size: 21px;
    max-width: 1200px;
}

.cookie__button {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    background-color: #8bc72a;
    font-size: 21px;
    border: 0;
    border-radius: 2px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    transition: .2s;
}

.cookie__link {
    color: #8bc72a;
    text-decoration: underline;
    transition: .2s;
    white-space: nowrap;
    font-size: 21px;
}

.cookie__link:hover {
    color: var(--red);
}
/*style cookie end*/

/*style popup start*/
.popup {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup-wrap {
    width: 980px;
    height: 400px;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
}

.close-popup {
    width: 45px;
    position: absolute;
    right: -50px;
    stroke: #fff;
}
/*style popup end*/

/*style code word start*/
.code-word {
    width: 100%;
    margin: 20px 0 0;
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 10px rgba(17, 33, 60, 0.2);
}

.code-word__text {
    font-size: 21px;
    color: #665800;
    margin-top: 25px;
}

.code-word-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.code-word-form__submit {
    margin-left: 20px;
    font-size: 21px;
    color: #fff;
    padding: 10px 27px 15px;
    background: rgb(255, 221, 0);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    min-height: 40px;
    transition: 0.5s;
}

.code-word-form__submit:hover {
    background: #ff3a00;
    opacity: 0.85;
}

.code-word__title {
    margin-bottom: 25px;
}

.code-word-form__input {
    padding: 10px 7px;
    border: 1px solid #e4ddb4;
    width: 330px;
    height: 47px;
    transition: var(--normal);
    font-size: 21px;
}

.code-word-form__valid {
    color: var(--red);
    display: inline-block;
    margin-top: 5px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: -10;
    font-weight: 500;
}

.code-word-form.no-valid .code-word-form__input {
    border-bottom-color: var(--red);
}

.code-word-form.valid ~ .code-word-form__valid {
   color: #3dbd14;
}

.code-word-form.no-valid ~ .code-word-form__valid, .code-word-form.valid ~ .code-word-form__valid {
    opacity: 1;
    visibility: visible;
    position: static;
    z-index: 10;
}
/*style code word end*/

.operation-history {
    width: 100%;
    margin: 20px 0 0;
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 10px rgba(17, 33, 60, 0.2);
    display: grid;
    grid-template-columns: 1fr max-content;
}

.form-date {
    justify-content: flex-end;
}

.form-date, .form-date-sort, .form-date__input-wrap {
    display: flex;
    align-items: center;
}

.form-date-sort {
    justify-content: flex-start;
    grid-column: 1/3;
    width: 100%;
    border-bottom: 1px solid #473d00;
    padding-bottom: 10px;
    margin: 25px 0;
}

.form-date__input-wrap {
    border-radius: 5px;
    border: 1px solid #e4ddb4;
    padding: 0 7px;
    height: 55px;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;
    color: #2c2c2c;
    margin-right: 5px;
}

.form-date-sort__item {
    margin-right: 50px;
}

.form-date-sort__item:last-child {
    margin: 0;
}

.form-date-sort__link {
    color: #0088d2;
    border-bottom: 1px dotted #0088d2;
    transition: var(--normal);
    font-size: 21px;
}

.form-date-sort__link:hover {
    color: #036aa1;
}

.form-date__input {
    margin-left: 5px;
}

.form-date__input-wrap span, .form-date__input {
    color: #2c2c2c;
    font: 400 21px sans-serif;
}

.form-date__submit {
    font-size: 21px;
    color: #fff;
    padding: 10px 27px 15px;
    background: rgb(255, 221, 0);
    border-radius: 5px;
    height: 55px;
    transition: 0.5s;
    margin-left: 15px;
}

.form-date__submit:hover, .link-export:hover {
    background: #ff3a00;
    opacity: 0.85;
}

.history-table, .history-bonus {
    border: 1px solid #d7d7cb;
    grid-column: 1/3;
}

.history-table .tr {
    grid-template-columns: 170px 1fr 215px 125px 195px;
}

.history-bonus .tr {
    grid-template-columns: 170px 1fr 185px 280px 110px;
}

.tr {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.tr div {
    border: 0.5px solid #d7d7cb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    padding: 15px;
    color: #a39c7d;
}

.tr a {
    font-size: 21px;
    color: #a39c7d;
    transition: var(--normal);
    font-weight: 400;
}

.tr a:hover {
    color: #807a62;
}

.tr div:nth-child(2):not(.table-title div) {
    justify-content: flex-start;
}

.table-title div, .history-bonus .tr div:nth-child(3) {
    color: #2c2c2c;
}

.table-title div, .tr div span {
    font-weight: bold;
}

.tr div span {
    margin-right: 10px;
}

.tr div:last-child:not(.table-title div) {
    color: #52a741;
}

.tr div[data-price = "true"] {
    color: rgb(91, 211, 210);
}

.tr div[data-price = "false"] {
    color: rgb(252, 31, 31);
}

.history-pagination {
    grid-column: 1/2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.link-export {
    font-size: 21px;
    color: #fff;
    padding: 10px 27px 15px;
    background: rgb(255, 221, 0);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    transition: 0.5s;
    width: max-content;
    margin: auto 0 auto auto;
}

.page-next {
    font-size: 23px;
    color: #534a10;
    margin: 25px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.page-next svg {
    margin-left: 10px;
    position: relative;
    transform: translateY(35%);
}

.history-pagination__item {
    margin-right: 30px;
}

.history-pagination__item:last-child {
    margin: 0;
}

.history-pagination__link {
    font-size: 21px;
    color: #665800;
    transition: .5s;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 50%;
}

.history-pagination__link:hover {
    border-color: #665800;
}

.history-pagination__item:last-child .history-pagination__link {
    width: auto;
}

.history-pagination__item:last-child:hover .history-pagination__link {
    border-color: transparent;
}